In [1]:
import numpy as np
import pandas as pd 
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [2]:
data=pd.read_excel("C:\\Users\\ACER\\Desktop\\ML Practicals\\iris dataset.xlsx")

In [3]:
data.head()

,Sepal length in cm.,Sepal width in cm,Petal length in cm.,Petal width in cm.,Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [4]:
x=data.drop('Class',axis=1)

y=data['Class']

In [5]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=909)

In [7]:
x_train.shape,x_test.shape

((21, 4), (9, 4))

In [9]:
model=KNeighborsClassifier(n_neighbors=5)

In [10]:
model.fit(x_train,y_train)

KNeighborsClassifier()

In [12]:
y_pred=model.predict(x_test)

In [13]:
metrics.accuracy_score(y_pred,y_test)

0.4444444444444444

In [14]:
df=pd.DataFrame({"Actual Values":y_test,"Predicted Values":y_pred})

In [15]:
df

      Actual Values Predicted Values
22   Iris-virginica      Iris-setosa
20   Iris-virginica   Iris-virginica
19  Iris-versicolor      Iris-setosa
10      Iris-setosa      Iris-setosa
7       Iris-setosa      Iris-setosa
17  Iris-versicolor   Iris-virginica
13  Iris-versicolor      Iris-setosa
25   Iris-virginica      Iris-setosa
27   Iris-virginica   Iris-virginica