In [2]:
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn import svm

In [5]:
data=pd.read_excel("C:\\Users\\ACER\\Desktop\\ML Practicals\\SVM dataset.xlsx")

In [6]:
data.head()

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean
0,B,11.76,21.60,74.72,427.9,0.08637
1,B,13.64,16.34,87.21,571.8,0.07685
2,B,11.94,18.24,75.71,437.6,0.08261
3,M,18.22,18.70,120.30,1033.0,0.11480
4,M,15.10,22.02,97.26,712.8,0.09056

In [7]:
x=data.drop('diagnosis',axis=1)
y=data['diagnosis']

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=90)

In [9]:
x_train.shape,x_test.shape

((35, 5), (15, 5))

In [11]:
model=svm.SVC(kernel='linear')

In [12]:
model.fit(x_train,y_train)

SVC(kernel='linear')

In [14]:
y_pred=model.predict(x_test)

In [15]:
y_pred

array(['B', 'B', 'M', 'B', 'B', 'M', 'B', 'M', 'M', 'M', 'B', 'B', 'M',
       'M', 'M'], dtype=object)

In [17]:
metrics.accuracy_score(y_pred,y_test)

0.8666666666666667

In [18]:
df=pd.DataFrame({"Actual Values":y_test,"Predicted Values":y_pred})

In [19]:
df

   Actual Values Predicted Values
23             M                B
26             B                B
49             M                M
46             B                B
5              B                B
20             M                M
19             B                B
35             M                M
22             M                M
40             B                M
21             B                B
47             B                B
7              M                M
36             M                M
45             M                M